.image {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: white;
    gap: 20px;
}
.realimg {
    width: 200px;
    height: 200px;
    border-radius: 200%;
}
.name {
    color: black;
    font-weight: bold;
    font-size: 30px;
    margin-top: 10px;
}
.link1 {
    background-color:rgb(7, 7, 7);
}
a {
    color: black;
    text-decoration: none;
}
button {
    width: 60%;
    padding: 12px;
    background-color: rgb(238, 235, 235);
    border: none;
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
}
